body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: hsl(184, 91%, 64%);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
video{
    border: 5px solid hsl(178, 95%, 70%);
  }
img{
    border: 5px solid hsl(178, 95%, 70%);
  }
  .multicolor-text {
    text-align: center;
    font-size: 75px;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
}
.bold {
    font-size: 10vw; /* make our h1 tag larger */
    font-family: sans-serif; /* choosing our font */
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%); /* you can change the colors based on your preference */
    background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
    -webkit-background-clip: text; /*for browsers compatibility */
    -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
  }
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 10px;
    }
  }
  .bold1 {
    font-size: 100vw; /* make our h1 tag larger */
    font-family: sans-serif; /* choosing our font */
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(#f268a4 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%); /* you can change the colors based on your preference */
    background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
    -webkit-background-clip: text; /*for browsers compatibility */
    -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
  }
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 10px;
    }
  }
